In [ ]:
import numpy as np
import pandas as pd
movies = pd.read_csv("movies.dat", delimiter = '::')
print(movies.head())

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   0000008      Edison Kinetoscopic Record of a Sneeze (1894)  \
0       10                La sortie des usines Lumière (1895)
1       12                      The Arrival of a Train (1896)
2       25  The Oxford and Cambridge University Boat Race ...
3       91                         Le manoir du diable (1896)
4      131                           Une nuit terrible (1896)

     Documentary|Short
0    Documentary|Short
1    Documentary|Short
2                  NaN
3         Short|Horror
4  Short|Comedy|Horror

In [ ]:
movies.columns = ["ID", "Title", "Genre"]
print(movies.head())
movies.head()

    ID                                              Title                Genre
0   10                La sortie des usines Lumière (1895)    Documentary|Short
1   12                      The Arrival of a Train (1896)    Documentary|Short
2   25  The Oxford and Cambridge University Boat Race ...                  NaN
3   91                         Le manoir du diable (1896)         Short|Horror
4  131                           Une nuit terrible (1896)  Short|Comedy|Horror

    ID                                              Title                Genre
0   10                La sortie des usines Lumière (1895)    Documentary|Short
1   12                      The Arrival of a Train (1896)    Documentary|Short
2   25  The Oxford and Cambridge University Boat Race ...                  NaN
3   91                         Le manoir du diable (1896)         Short|Horror
4  131                           Une nuit terrible (1896)  Short|Comedy|Horror

In [ ]:
ratings = pd.read_csv("ratings.dat", delimiter= '::')
ratings.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   1  0114508  8  1381006850
0  2   499549  9  1376753198
1  2  1305591  8  1376742507
2  2  1428538  1  1371307089
3  3    75314  1  1595468524
4  3   102926  9  1590148016

In [ ]:
ratings.columns = ["User", "ID", "Ratings", "Timestamp"]
ratings.head()

   User       ID  Ratings   Timestamp
0     2   499549        9  1376753198
1     2  1305591        8  1376742507
2     2  1428538        1  1371307089
3     3    75314        1  1595468524
4     3   102926        9  1590148016

In [ ]:
data = pd.merge(movies, ratings, on=["ID", "ID"])
data.head()

,ID,Title,Genre,User,Ratings,Timestamp
0,10,La sortie des usines Lumière (1895),Documentary|Short,70577,10,1412878553
1,12,The Arrival of a Train (1896),Documentary|Short,69535,10,1439248579
2,25,The Oxford and Cambridge University Boat Race ...,NaN,37628,8,1488189899
3,91,Le manoir du diable (1896),Short|Horror,5814,6,1385233195
4,91,Le manoir du diable (1896),Short|Horror,37239,5,1532347349

In [ ]:
data.describe()

                 ID           User       Ratings     Timestamp
count  9.086320e+05  908632.000000  908632.00000  9.086320e+05
mean   2.241571e+06   35595.363422       7.31681  1.462609e+09
std    2.123461e+06   20522.732336       1.85267  7.184971e+07
min    1.000000e+01       2.000000       0.00000  1.362062e+09
25%    7.654290e+05   18134.000000       6.00000  1.397169e+09
50%    1.726592e+06   35396.000000       8.00000  1.452148e+09
75%    2.948356e+06   53034.000000       9.00000  1.518353e+09
max    1.474090e+07   70783.000000      10.00000  1.623118e+09

In [ ]:
ratings = data["Ratings"].value_counts()
numbers = ratings.index
quantity = ratings.values
import plotly.express as px
fig = px.pie(data, values = quantity, names = numbers)
fig.show()

In [ ]:
numbers

Int64Index([8, 7, 9, 6, 10, 5, 4, 3, 1, 2, 0], dtype='int64')

In [ ]:
quantity

array([219311, 203476, 128749, 118323, 107284,  68458,  27779,  15258,
        10663,   9053,    278])

In [ ]:
data2 = data.query("Ratings == 10")
data2["Title"].value_counts().head(10)

Joker (2019)                       1479
Interstellar (2014)                1386
1917 (2019)                         820
Avengers: Endgame (2019)            812
The Shawshank Redemption (1994)     707
Gravity (2013)                      653
The Wolf of Wall Street (2013)      581
Hacksaw Ridge (2016)                570
Avengers: Infinity War (2018)       535
La La Land (2016)                   510
Name: Title, dtype: int64